<p>
    <mat-toolbar color="accent">
     <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <span>Exam Portal</span>
    </a>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <!-- <mat-icon>login</mat-icon> -->Login
    </a>
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon ml-2" aria-label="Example icon-button with share icon">
     <!-- <mat-icon>share</mat-icon> -->Register
    </a>
  </mat-toolbar>
  </p>